@import "@/common/styles/colors"

.install-area
  margin-top: 2rem
  display: flex
  justify-content: space-between
  gap: 2rem

.not-available
  filter: blur(3px)
  pointer-events: none

.configuration-area
  display: flex
  flex-direction: column
  gap: 1rem

@media screen and (max-width: 768px)
  .install-area
    flex-wrap: wrap