.content-wrapper
  padding: 2rem 20vw 0 5rem
  height: calc(100vh - 7rem)
  overflow-y: scroll
  overflow-x: hidden

.page-enter
  opacity: 0
  transform: scale(0.9)

.page-enter-active
  opacity: 1
  transform: scale(1)
  transition: opacity 300ms, transform 300ms

.page-exit
  opacity: 1
  transform: scale(1)

.page-exit-active
  opacity: 0
  transform: scale(0.9)
  transition: opacity 300ms, transform 300ms

@media screen and (max-width: 1024px)
  .content-wrapper
    padding: 2rem 22vw 0 2rem

@media screen and (max-width: 768px)
  .content-wrapper
    padding: 2rem 6rem 0 2rem

@media screen and (max-width: 375px)
  .content-wrapper
    padding: 2rem 6rem 0 0.5rem