@import "@/common/styles/colors"

aside
  background-color: $background
  float: left
  width: 18rem
  border-right: $dark-gray 2px solid
  height: 100vh
  overflow: hidden
  z-index: 5
  overflow-y: scroll
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 1rem

.sidebar-hidden
  display: none

@media screen and (max-width: 1024px)
  aside
    position: fixed
    transition: .5s ease-in-out

  .sidebar-hidden
    display: block
    opacity: 100
    transform: translateX(-20rem)

  .background-overlay
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, .5)
    transition: .5s ease-in-out
    z-index: 1
    backdrop-filter: blur(1px)