@import "@/common/styles/colors"

.package-area
  background-color: $black
  border: 2px solid $dark-gray
  border-radius: 1rem
  width: 20rem
  padding: 1rem 1rem
  display: flex
  flex-direction: column
  gap: 0.8rem

  .package-title
    display: flex
    align-items: center
    gap: 0.5rem

    img
      width: 2rem
      height: 2rem

    h2
      margin: 0
      color: $darker-white

    span
      color: $primary

.package-failed
  border: 2px dashed $red

.align-right
  display: flex
  justify-content: flex-end
  height: 2.6rem